<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weightMarket.dao.ProductTypeUserMapper">
	<insert id="add" parameterType="com.weightMarket.entity.ProductTypeUser">
 		insert into product_type_user
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="userName!=null">
 				userName,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 				createTime,
 				deal
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="userName!=null">
 				#{userName},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 				now(),
 				0
 		</trim>
 	</insert>
 	<select id="selectList" resultType="com.weightMarket.entity.ProductTypeUser">
 		select CONCAT(left(userName,1),'**') xhUserName,CONCAT(left(phone,3),'******',right(phone,2)) xhPhone,UNIX_TIMESTAMP(now())- UNIX_TIMESTAMP(createTime) secondAgo from product_type_user where 1=1
 		<if test="deal!=''&amp;deal!=null">
 			deal=#{deal}
 		</if>
 		order by createTime desc
 	</select>
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from product_type_user where 1=1
 		<if test="userName!=''&amp;userName!=null">
			and userName like'%${userName}%'
		</if>
 		<if test="phone!=''&amp;phone!=null">
			and phone like'%${phone}%'
		</if>
 		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
 		<if test="deal!=''&amp;deal!=null">
 			and deal=#{deal}
 		</if>
 	</select>
 	<select id="selectForList" resultType="com.weightMarket.entity.ProductTypeUser">
 		select * from product_type_user where 1=1
 		<if test="userName!=''&amp;userName!=null">
			and userName like'%${userName}%'
		</if>
 		<if test="phone!=''&amp;phone!=null">
			and phone like'%${phone}%'
		</if>
 		<if test="createTimeStart!=''&amp;createTimeStart!=null&amp;createTimeEnd!=''&amp;createTimeEnd!=null">
			and createTime between #{createTimeStart} and #{createTimeEnd}
		</if>
 		<if test="deal!=''&amp;deal!=null">
 			and deal=#{deal}
 		</if>
 	</select>
</mapper>